.btn__demo,
.btn__demo_0,
.btn__demo_0_1,
.btn__demo_1,
.btn__demo_2,
.btn__demo_3,
.btn__demo_4
.btn__gitHub,
.modal__btn,
.btn__download-bottom
  border 0
  background #2ab5ff
  color #ffffff
  height 50px
  padding 0 40px
  font-size 26px
  radius 4px
  animate 300 ease-in-out
  margin 0 auto
  display block
  width 200px
  border-bottom 4px solid #2696d4
  &:hover
    background  #5186ff
    border-bottom 2px solid #4467ce
.btn__gitHub
  width 280px
.btn__download-bottom
  width 300px
.btn__demo_0,
.btn__demo_0_1,
.btn__demo_1,
.btn__demo_2,
.btn__demo_3,
.btn__demo_4,
.modal__btn
  margin 20px 0 0 0