.content
  padding 50px 0 100px 0;
  h2
    font-size 50px
    text-align center
    color: #2ab5ff
  h3
    font-size 40px
    color: #71d6a9
  h4
    font-size 30px
    color: #71d6a9
  p.desc
    text-align center
    display block
    line-height 20px
    font-size 18px
    margin-top 0
    letter-spacing 1px
 .desc__text
   text-align left
.content__text-center
  text-align center
  display block
.content__list
  padding-left 21px
  > li
    letter-spacing 1px
    line-height 24px
    font-size 18px

.content__code__wrapper
  padding-left 30px
  margin-top 45px;
h2.text__green
  color #71d6a9
.text__blue
  color  #2ab5ff
.code__title
  display block
  margin-bottom 10px
.content__table
  width 100%
  text-align left
  td,
  th
    padding: 10px 0
  th
    color  #2ab5ff
    min-width: 240px