body
  font-size 18px
  font-weight 200
  font-family "Roboto", serif
  position relative
  letter-spacing 1px
  line-height 26px
main
  padding-top 60px

.container
  max-width: 1140px
h2
h3
h4
  font-family 'Pacifico', cursive
p
  line-height 26px
hr
  margin 70px 0 30px 0
  background #bbbbbb
  opacity 0.5
a
  color: #2ab5ff
  animate 300 ease-in-out
  &:hover
    color: #5186ff
.events__block
  position fixed
  min-width 200px
  bottom 60px
  right 20px
  background rgba(236, 236, 236, 0.95)
  padding 5px 10px 12px 10px
  border 1px solid #bfbfbf
  radius 4px
  z-index 99999
  ul
    list-style none
    padding 0
    margin 0
    > li
      display inline-block
      background #898989
      color #fff
      font-size: 11px;
      padding 0 6px
      radius 4px
      animate 300 ease-in-out
      &.active
        background #71d6a9
      &:not(.active)
        animate 500 ease-in-out